[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
ebooklib = "*"
pyqt6 = "*"
bs4 = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
